* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

@media (max-width: 520px) {
  header {
    display: flex;
  }
  .navbar {
    display: none;
  }
  .product {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
  }
}
